.header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

.box1 {
  width: 300px;
  background-color: #EEEEEE;
  margin: 50px;
  position: relative;
  padding-top: 10px;
}

.box-text {
  background-color: #ff9a4b;
  color: #EEEEEE;
  position: absolute;
  top: 0;
  left: 0;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.text {
  margin-left: 10px;

}






.img-box {
  background-image: url(../HTML＆CSSを学ぼう「10章：課題問題『提出課題』」/img/flow01.png);
  margin-left: 10px;
  width: 280px;
  height: 150px;
  background-size: cover;
  background-position: bottom;
}





.footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
  text-align: center;
}